page-product-search{
	ion-content{
		background-color: color($colors, light) !important;
		button.item {
			ion-label {
				h2 {
					color: color($colors, brand-primary, base) !important;
				}
			}
		}
	}
}